body{
    width: 700px;
    padding: 2px 100px 70px 100px;
    height: 75px;
    font-size: 17px;
    color: rgb(134, 128, 128);
    text-align: center;
    font-family: sans-serif;
}
header{
    padding: 29px;
    margin: 7.5px;
}
nav{
    padding: 29px;
    margin: 7.5px;
}

section{
    width: 365px;
    float: left;
    margin: 7.5px 7.5px 0px 7.5px;
    padding: 24px 10px 10px 10px;
    height: 214px;
}
article{
    color: rgb(211,204,204);
    padding: 10px;
    margin: 24px 0px 0px 0px;
    height: 150px;
}

div{
    font-size: 17px;
    height: 35px;
    margin-top: 10px;
    padding-top: 15px;
    color: rgb(151, 148, 148);
}

p{
    font-size: 20px;
    color: rgb(134,128,128);
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
}
aside{
    width: 265px;
    float: right;
    margin: 7.5px 7px 7px 7.5px;
    padding: 24px 10px 10px 10px;
    height: 214px;
}

footer{
    margin: 7.5px 7px 0px 7.5px;
    height: 52px;
    display: block;
    padding-top: 29px;
    clear:both;
}

.colorgrisclaro {
    background-color: rgb(243, 243, 243);
}

.colorgrisobscuro {
    background-color: rgb(151, 148, 148);
}